@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

.body{
  margin-left: 1%;
}
.grid {
    position:relative;
    display: grid;
    min-height: 100px;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    border: cadetblue;
    border-style: ridge;
    padding:10px;
  }
.flex {
  display: flex;
  width: 95%;
  flex-direction: column;
}
.add{
  box-sizing: content-box;
  text-decoration: none;
  margin: 10px 0px 0px 10px;
  padding: 10px 14px;
  padding-top: 3px;
  font-size: 35px;
  font-weight: bolder;
  width: 40px;
  text-align: center;
  border-style: solid;
  color: black;
}
.flex-headers{
  display: flex;
  justify-content: space-between;
  width: 95%;
  padding: 10px 0px 10px 0px;

}

.file{
  max-height: 50px;
  border-style: groove;
  border-width: 3px;
  border-radius: 5px;
  text-align: center;
  background-color: mintcream;
}

.title{
  color:gray;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top: 20px;
  font-size: 150%;
}
.subtitle
{
  color:black;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.parameter{
  font-weight: lighter;
  color: gray;
}
