<div id="page">
  <header>
    <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
      <div class="navbar-nav">
          <a class="nav-item nav-link" (click)="logout()">Logout</a>
          <a class="nav-item nav-link" routerLink="/account">My Account</a>
          <a class="nav-item nav-link" routerLink="/">My Storage</a>
          <a class="nav-item nav-link" routerLink="/shared">Shared Storage</a>
      </div>
    </nav>
  </header>

<!-- main app container -->

  <main>
      <router-outlet></router-outlet>
  <main>
<div>