#page {
  display: grid;
  width: 100%;
  grid-template-areas: "main main nav"
                       "main main nav";
  grid-template-rows: 50px 1fr 30px;
  grid-template-columns: 2fr 1fr;
}

.return{
  color:black;
  font-size: 150%;
  border: darkgray;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
}
.flex {
  display: flex;
  width: 95%;
  flex-direction: column;
}
.side-menu{
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 5%;
  border: slategray;
  border-style: solid;
  border-radius: 10px;
}
.side-menu > div{

  border-top: 3px solid gray;
  margin-bottom:10px;
}
.subtitle {
  background-color: lightblue;
  text-align: center;
}
.content{
  text-align: center;
}
.btn-sharing{
  align-content: center;
}