<div id ="page">
  <div id = "main">

    <ng-container style = "text-align: center;" *ngIf = "folder.parentId == null && folder.ownerId == currentUser.id">  
      <button class = "return btn btn-outline-secondary" [routerLink] = "['/']">&#8249;</button>
    </ng-container>

    
    <ng-container style = "text-align: center;" *ngIf = "folder.parentId == null && folder.ownerId != currentUser.id  && !currentUser.roles.includes('Admin')">  
      <button class = "return btn btn-outline-secondary" [routerLink] = "['/shared/']">&#8249;</button>
    </ng-container>

    <ng-container style = "text-align: center;" *ngIf = "folder.parentId == null && folder.ownerId != currentUser.id  && currentUser.roles.includes('Admin')">  
      <button class = "return btn btn-outline-secondary" [routerLink] = "['/userStorage/', folder.ownerId]">&#8249;</button>
    </ng-container>
    

    <ng-container *ngIf = "folder.parentId">  
      <button class = "return btn btn-outline-secondary" [routerLink] = "['/folders/', folder.parentId]">&#8249;</button>
    </ng-container>

    <ng-container  *ngIf = "folder">
        <app-folder-list [folder] = "folder"></app-folder-list>
        <app-file-list [folder] = "folder"></app-file-list>
    </ng-container>  
  </div>
  <div class = "flex">
    <div id = "nav" class= "side-menu" *ngIf = "folder">
      <div>
        <p class = "subtitle">Folder Name:</p>
        <p class = "content">{{folder.name}} </p>

      </div>
      <div>
        <p class = "subtitle">Folder Description:</p>
        <p class = "content">{{folder.description}} </p>
      </div>
      <div>
        <p class = "subtitle">Folder Owner:</p>
        <p class = "content">{{folder.owner.userName}} </p>
      </div>
      <div>
        <p class = "subtitle">Last Change:</p>
        <p class = "content">{{datepipe.transform(folder.lastChange, 'medium')}} </p>

      </div>

      <div *ngIf = "currentUser.id == folder.ownerId || currentUser.roles.includes('Admin') ">
        <p class = "subtitle">Share Status:</p>
        <div class = "content"  *ngIf = "folder.shareStatus == 0">
          <p> Private </p> 
           <button class="btn btn-outline-info" (click)="share()"> Make Shareable</button>   
        </div>

        <div class = "content" *ngIf = "folder.shareStatus == 1">
          <p > Shareable by link </p> 
           <button class="btn btn-outline-info content" (click)="unShare()"> Make Unshareable</button>   
        </div>
      </div>
      <div class = "content">
        <p class = "subtitle">Users with access:</p>
        <button *ngIf = "!url.includes('sharingInfo')" class="btn btn-outline-info"  [routerLink] = "['sharingInfo']" >Display the user list</button>
        <router-outlet></router-outlet>
      </div>
      <div class = "content" *ngIf = "(currentUser.id == folder.ownerId && currentUser.roles.includes('Corporate')) || currentUser.roles.includes('Admin') ">
        <p class = "subtitle">Sharing form:</p>
        <app-sharing-form [folder] = "folder"></app-sharing-form>
      </div>
      <div *ngIf = "currentUser.id == folder.ownerId || currentUser.roles.includes('Admin')">
        <p class = "subtitle">Folder Management:</p>
        <div class = "flex-buttons">
          <div class = "content">
            <button class="btn btn-outline-warning" (click)="copy()"> Copy</button>   
          </div>
          
          <div class = "content">
            <button class="btn btn-outline-info" (click)="move()"> Move</button>   
          </div>
          
          <div class = "content">
            <button class="btn btn-outline-secondary" (click)="edit()"> Edit</button>   
          </div>
          

          <div class = "content">
            <button class="btn btn-outline-danger" (click)="delete()"> Delete</button>   
          </div>
        </div>
      
      </div>
      
    </div>
  </div>
</div>
