<div id ="page">
  <div id = "main">
    <div *ngIf="error" class="alert alert-danger"> 
      {{ error }} 
    </div>
    <ng-container *ngIf = "folder.parentId == null">  
      <button class = "return" [routerLink] = "['/folders/']">Go back</button>
    </ng-container>

    <ng-container *ngIf = "folder.parentId">  
      <button class = "return" [routerLink] = "['/folders/', folder.parentId]">Go back</button>
    </ng-container>

    <ng-container  *ngIf = "folder">
        <app-folder-list [folder] = "folder"></app-folder-list>
    </ng-container>
  
  </div>
  <div class = "flex">
    <div id = "nav" class= "side-menu" *ngIf = "folder">
      <div>
        <p class = "subtitle">Folder Name:</p>
        <p class = "content">{{folder.name}} </p>

      </div>
      <div>
        <p class = "subtitle">Folder Description:</p>
        <p class = "content">{{folder.description}} </p>
      </div>
      <div>
        <p class = "subtitle">Folder Owner:</p>
        <p class = "content">{{folder.owner.userName}} </p>
      </div>
      <div>
        <p class = "subtitle">Share Status:</p>
        <p class = "content" *ngIf = "folder.shareStatus == 0"> Private  <button class="open-button" onclick="makeShareable()"> Make Shareable</button> </p>
        <p class = "content" *ngIf = "folder.shareStatus == 1"> Shareable by link <button class="open-button" onclick="makePrivate()">Make Private</button></p>

      </div>
      <div>
        <p class = "subtitle">Users with access:</p>
        <button class="open-button" onclick="openForm()">Open Form</button>
      </div>
    </div>
  </div>
</div>
