.grid {
    position:relative;
    left:-500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    border: cadetblue;
    border-style: ridge;
    padding:10px;
  }
.flex {
  display: flex;
  width: 1100px;
  flex-direction: column;
}

.folder{
  width: 100%;
  border-style: groove;
  border-width: 3px;
  border-radius: 5px;
  text-align: center;
  background-color: mintcream;
}

.title{
  color:gray;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative;
  left: -400px;
  font-size: 300%;
}
.subtitle
{
  color:black;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.parameter{
  font-weight: lighter;
  color: gray;
}
